.hljs {
    /* override Highlight.js */
    @apply bg-transparent !important; 
}

.reveal pre {
    @apply max-w-full rounded-lg border-4 border-solid border-cyan-900 text-lg;
    width: 100%;
}

pre code.hljs {
    @apply font-mono;
}