name: Publish preview

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

    - name: Check out repository
      uses: actions/checkout@v6.0.1

    - name: Prepare Node.js
      uses: actions/setup-node@v6.2.0
      with:
        node-version: '16'
    
    - name: Cache NPM packages
      uses: actions/cache@v5.0.2
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    
    - name: Fetch NPM packages
      run: |
        npm i
      
    - name: Prepare distribution-ready files
      run: |
        npm run update-reveal
        npm run build

    - name: Copy distribution files into preview folder
      run: |
        cp -Rv build/* preview/

    - name: Setup Pages
      id: pages
      uses: actions/configure-pages@v5.0.0

    - name: Upload artifact
      uses: actions/upload-pages-artifact@v4.0.0
      with:
        path: ./preview

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    if: github.event_name == 'push' && contains(github.ref, 'main')

    runs-on: ubuntu-latest

    needs: build

    steps:

    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4.0.5
