name: Publish preview

on:
  push:
    branches: [ main ]

jobs:
  publish-preview:
    runs-on: ubuntu-latest

    steps:

    - name: Check out repository
      uses: actions/checkout@v3

    - name: Prepare Node.js
      uses: actions/setup-node@v3.5.1
      with:
        node-version: '16'
    
    - name: Restore cache of NPM packages
      uses: actions/cache@v3
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    
    - name: Fetch NPM packages
      run: |
        npm i
      
    - name: Prepare distribution-ready files
      run: |
        npm run update-reveal
        npm run build

    - name: Copy distribution files into preview folder
      run: |
        cp -Rv build/* preview/

    - name: Check out repository
      uses: actions/checkout@v3
      with:
        ref: 'gh-pages'
        path: 'out/'

    - name: Deploy preview slide deck
      run: |
        git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git config --global user.name "GitHub Action"

        cd ${{ github.workspace }}/out
        git rm -rf .
        cp -LRv ${{ github.workspace }}/preview/* .

        git add -A
        git commit -m "Automated deployment to GitHub Pages: ${{ github.sha }}" --allow-empty
        git push origin HEAD:gh-pages
      if: github.ref == 'refs/heads/main'
